h1{
    text-align: center;
}
.quote-bookmark{
    min-height: 250px;
    background: #D05252;
    border-radius: 30px;
    /* margin: 40px 0 40px 15px; */
    margin: 15px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 25px;
    position: relative;
}