*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    
}
.homePage-sections{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
@media (max-width:650px) {
    .App{
      flex-direction: column;  
    }

}